<%-include('header')%>

<head>
    <title>Home Page</title>
</head>
<body>
    <section>
        <div class="contentWrapper">
            
            <h3 >Welcome!!</h3>
            <span>Please click the button below to search for your next journey.</span>
            <div id="icon" >
                <a ><i class="fa-solid fa-plane-up"></i></a><br>
                <a href="/flight"><button class="btn btn-primary" type="button">Search Flight</button></a>
            </div>
            
        </div>
    </section>
</body>
</html>